.raised {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.raised-hover {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	transition: box-shadow 150ms ease-out;

	&:hover {
		box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
	}
}
