.gray-dark {
	color: $gray-dark;
}

.gray-alt {
	color: $gray-alt;
}

.border {
	color: $border;
}

.white {
	color: $white;
}

.blue {
	color: $blue-link;
}

.background-white {
	background: $white;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.uppercase {
	text-transform: uppercase;
}

.lighter {
	font-weight: lighter;
}

.normal {
	font-weight: normal;
}

.bold {
	font-weight: bolder;
}

.italic {
	font-style: italic;
}

.font-\.4em {
	font-size: .4em;
}

.font-\.5em {
	font-size: .5em;
}

.font-\.6em {
	font-size: .6em;
}

.font-\.8em {
	font-size: .8em;
}

.font-\.9em {
	font-size: .9em;
}

.font-1em {
	font-size: .8em;
}

.font-1\.5em {
	font-size: 1.5em;
}

.font-1\.6em {
	font-size: 1.6em;
}

.font-1\.7em {
	font-size: 1.7em;
}
