$bp-768: 768px;
$bp-992: 992px;
$bp-1024: 1024px;
$bp-1366: 1366px;
$bp-1440: 1440px;
$bp-1720: 1720px;
$bp-1920: 1920px;
$bp-2560: 2560px;

$mq-768: '(min-width: #{$bp-768} + 1)';
$mq-992: '(min-width: #{$bp-992} + 1)';
$mq-1024: '(min-width: #{$bp-1024} + 1)';
$mq-1366: '(min-width: #{$bp-1366} + 1)';
$mq-1440: '(min-width: #{$bp-1440} + 1)';
$mq-1720: '(min-width: #{$bp-1720} + 1)';
$mq-1920: '(min-width: #{$bp-1920} + 1)';
$mq-2560: '(min-width: #{$bp-2560} + 1)';

$mx-1920: '(max-width: #{$bp-1920})';
