.input-container {
	margin-bottom: 30px;
	position: relative;
	width: 100%;

	input,
	textarea,
	select {
		width: inherit;
	}

	[class^="icon-"], [class*=" icon-"] {
		position: absolute; top: 23px; right: 5px;

		&.datepicker{
			right: 40px;
		}
	}
}

input,
textarea,
select {
	border: 1px solid $border;
	padding: 5px 10px;
	// border-bottom: 2px solid $border;
	// border-radius: 0;
	// padding: 20px 0 10px 0;

	// @media #{$mq-1920} {
	// 	margin-bottom: $spacing-30 * 1.333;
	// }

	&[readonly="true"] {
		cursor: not-allowed;
	}

	// &:invalid {
	// 	box-shadow: none;
	// }

	// &.ng-dirty {

	// 	&.ng-valid {
	// 		border-color: $green;

	// 		& ~ [class^="icon-"], [class*=" icon-"] {
	// 			color: $green;
	// 			font-size: 1em;
	// 			font-weight: bold;
	// 		}
	// 	}

	// 	&.ng-invalid {
	// 		border-color: $red;
	// 	}
	// }
}

textarea {
	resize: vertical;
}

select {
	appearance: none;
	background: none;
	border-radius: 0;
}
